body{background:#24313d; padding:0;}
#tagsList {position:relative; width:600px; height:500px; margin: -50px auto; background:#24313d;float:left}
#tagsList a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#fff; font-weight:bold; text-decoration:none; padding: 3px 6px; cursor: pointer;}
#tagsList a:hover { color:#FF0000; letter-spacing:2px;}

#showQrcode{
	float:left;position:relative; width:200px; height:200px;  background:white;
}